################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/HQ.SMR/bin/Debug
/HQ.SMR/obj
/IDS.Base/bin/Debug
/IDS.Base/obj/Debug
